{% extends 'base.html' %}
{% load static %}
{% block metadata %}

<meta name="description" content="Nexuscrypto investment platform" /> 
<link rel="canonical" href="https://{{request.path_info}}" />               
<meta property="og:site_name" content="Nexuscrypto" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Nexuscrypto - FAQ page" />
<meta property="og:description" content="Nexuscrypto investment platform" />
<meta property="og:image" content="https://{% static 'cryptoriseapp/images/favicon-32x32.png' %}" />
<meta property="og:locale" content="en_us" />
<meta property="og:url" content="https://{{request.path_info}}" />
<meta name="twitter:site" content="@nexuscrypto"/>
<meta name="twitter:title" content="Nexuscrypto - FAQ page" />
<meta name="twitter:description" content="Nexuscrypto investment platform" />
<meta name="twitter:creator" content="@pythonmaster" />
<meta name="twitter:image" content="https://{% static 'cryptoriseapp/images/favicon-32x32.png' %}" />
<meta property="twiter:card" content="summary_large_image" />
<meta name="twitter:image:alt" content="cryptologo" />

{% endblock %}

{% block title %} Nexuscrypto - FAQ page {% endblock %}

{% block content %}

<section class="about_hero" style="background-image: url(/cryptoriseapp/static/cryptoriseapp/images/crypinvest.jpg);">
<div class="main_about_hero">
<h2>
    FAQs
</h2>
<div class="about_link">
    <a href="/">Home</a> &rightarrow; <span>FAQs</span>
</div>
</div>
</section>

<section class="faq_sect">
    <h2>
        Frequently Asked Questions
    </h2>

    <article class="faq_box-holder">

        <div class="main-faq_box">
            <div class="faq_box" onclick="faq_open(this)">
                <div class="questions">
                    How can i invest whit Nexuscrypto?
                </div>
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M427-427H180.78v-106H427v-246.22h106V-533h246.22v106H533v246.22H427V-427Z"/></svg>
                </span>
            </div>
            <div class="answer_box">
                To make a investment you must first become a member of Nexuscrypto.com hyip. Once you are signed up, you can make your first deposit. All deposits must be made through the Members Area. You can login using the member username and password you receive when signup.
            </div>
        </div>

        <div class="main-faq_box">
            <div class="faq_box" onclick="faq_open(this)">
                <div class="questions">
                    I wish to invest whit nexuscrypto.com buy i dont have ecurrency account what should i do?
                </div>
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M427-427H180.78v-106H427v-246.22h106V-533h246.22v106H533v246.22H427V-427Z"/></svg>
                </span>
            </div>
            <div class="answer_box">
                You can open a free PM account here: www.perfectmoney.is
            </div>
        </div>

        <div class="main-faq_box">
            <div class="faq_box" onclick="faq_open(this)">
                <div class="questions">
                    How can i open a Nexuxcrypto.com HYIP account?
                </div>
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M427-427H180.78v-106H427v-246.22h106V-533h246.22v106H533v246.22H427V-427Z"/></svg>
                </span>
            </div>
            <div class="answer_box">
                It's quite easy and convenient. Follow this link, fill in the registration form and then press "Register".
            </div>
        </div>

        <div class="main-faq_box">
            <div class="faq_box" onclick="faq_open(this)">
                <div class="questions">
                   How long does it takes for my deposite to be added to my account?
                </div>
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M427-427H180.78v-106H427v-246.22h106V-533h246.22v106H533v246.22H427V-427Z"/></svg>
                </span>
            </div>
            <div class="answer_box">
                Your account will be updated as fast, as you deposit.
            </div>
        </div>

        <div class="main-faq_box">
            <div class="faq_box" onclick="faq_open(this)">
                <div class="questions">
                    How can i withdraw funds?
                </div>
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M427-427H180.78v-106H427v-246.22h106V-533h246.22v106H533v246.22H427V-427Z"/></svg>
                </span>
            </div>
            <div class="answer_box">
                Login to your account using your username and password and check the Withdraw section.
            </div>
        </div>

        <div class="main-faq_box">
            <div class="faq_box" onclick="faq_open(this)">
                <div class="questions">
                    How can i change my email address or password?
                </div>
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M427-427H180.78v-106H427v-246.22h106V-533h246.22v106H533v246.22H427V-427Z"/></svg>
                </span>
            </div>
            <div class="answer_box">
                Log into your spectroglobaltrade.com account and click on the "Account Information". You can change your e-mail address and password there.
            </div>
        </div>

        <div class="main-faq_box">
            <div class="faq_box" onclick="faq_open(this)">
                <div class="questions">
                    How to login to account if forgoten password?
                </div>
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M427-427H180.78v-106H427v-246.22h106V-533h246.22v106H533v246.22H427V-427Z"/></svg>
                </span>
            </div>
            <div class="answer_box">
                Click on the forgotten password link on the login page. Enter your username and email address. You will receive an email with a new password.
            </div>
        </div>

        <div class="main-faq_box">
            <div class="faq_box" onclick="faq_open(this)">
                <div class="questions">
                    Does a daily profit get paid directly to my currency account?
                </div>
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentcolor"><path d="M427-427H180.78v-106H427v-246.22h106V-533h246.22v106H533v246.22H427V-427Z"/></svg>
                </span>
            </div>
            <div class="answer_box">
                No, profits are gathered on your spectroglobaltrade.com account and you can withdraw them anytime.
            </div>
        </div>

    </article>

</section>

<script>
    let openq = false;
    function faq_open(param){
        let mother = param.parentElement;
        let child2 = mother.children[1]
        if (openq==false) {
            child2.style.display = 'block';
            child2.style.transform = 'translateY(0px)';
        openq=true;
        }
        else{
            child2.style.display = 'none';
            child2.style.transform = 'translateY(-30px)';
            openq=false;
        }
    }
</script>

{% endblock %}